.game-item {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: transparent;
    border: '1px solid white';
    box-shadow: 0;
    margin: 1rem;
}

#indicator-correct {
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    background: black;
    border: '1px solid white';
    box-shadow: 0;
    margin: 1rem;
}

#indicator-half-correct {
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    background: pink;
    border: '1px solid white';
    box-shadow: 0;
    margin: 1rem;
}

ul.game-row > li {
    display: inline-block;
}

.submit {
    margin-left: 3rem;
    width: 5rem;
    height: 3rem;
}

#game-board {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#indicator-board {
    list-style-type: none;
    padding: 0;
    margin: 0;
}